<form style="font-family: calibri" action="/links" method='post'>
  What's the URL?
  <input type="text" name="url" required><br>
  <p></p>
  What is the title?
  <input type="text" name="title" required>
  <input type="submit" value="Create link">
</form>
